.about {
   padding-top: 94px;
   padding-bottom: 94px;
   background: var(--black);
   color: var(--gray);
}

.about__wrapper-top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;

}

.about__title {
   margin-bottom: 14px;
   color: var(--white);
   font-size: 48px;
   font-style: normal;
   font-weight: 400;
   line-height: 100%;
}

.about__text span {
   margin-bottom: 8px;
   display: block;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
}

.about__wrapper-top__left {
   width: 60%;
}

.about__text {
   margin-right: 30px;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 160%;
}

.about__pic {
   max-width: 445px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.about__pic::before {
   content: "";
   display: block;
   width: 160px;
   height: 290px;
   background-image: url(../img/Spiral.svg);
   background-repeat: no-repeat;
}

.about__pic::after {
   content: "";
   display: block;
   width: 255px;
   height: 255px;
   background-image: url(../img/Dawn.svg);
   background-repeat: no-repeat;
}

.person__list {
   margin-bottom: 28px;
}

.person__item {
   max-width: 255px;
}

.person__pic {
   margin-bottom: 25px;
}

.person__name {
   margin-bottom: 8px;
   color: var(--white);
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.person__description {
   color: var(--gray);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.person__item:nth-child(2) .person__description {
   padding-right: 30px;
}

.form__submit {
   width: fit-content;
   margin-bottom: 32px;
   color: var(--white);
   border-radius: 40px;
   background: var(--violet);
   border: 2px solid var(--violet);
}

.form__checkbox {
   cursor: pointer;
   position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   top: -4px;
   left: -1px;
}

.form__label {
   position: relative;
   padding-left: 22px;
}

.form__checkbox::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 14px;
   height: 14px;
   border: 1px solid #CACACA;
}

.form__checkbox::after {
   content: "";
   position: absolute;
   width: 4px;
   height: 7px;
   left: 5px;
   top: 2px;
   border: 2px solid var(--pale-violet);
   border-top: none;
   border-left: none;
   transform: rotate(45deg);
   opacity: 0;
}

.form__checkbox:checked::after {
   opacity: 1;
}

/* .form__wrapper:first-child {
   margin-bottom: 30px;
} */

.form__wrapper:last-child {
   display: flex;
   flex-direction: column;
}

.form__input {
   width: 445px;
   min-height: 70px;
   padding: 10px 10px 10px 32px;
   text-align: start;
   border-radius: 40px;
   border: 1px solid #FFF;
   background-color: transparent;
   color: var(--gray);
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.input-big {
   width: 920px;
   min-height: 150px;
   margin-bottom: 25px;
   padding: 30px 10px 10px 32px;
   border-radius: 30px;
}

.input-small {
   margin-bottom: 30px;
}

.input-small:not(:last-child) {
   margin-right: 25px;
}

.form__label {
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.form__checkbox {
   vertical-align: middle;
   margin-right: 8px;
}

.form__input {
   position: relative;
   color: var(--white);
   transition:
      background-color .5s ease,
      border .5s ease,
      color .5s ease;
}

@media (hover: hover) {
   .form__input:hover {
      background-color: #292E39;
   }

   .form__submit:hover {
      border: 2px solid var(--pale-violet);
      background: var(--pale-violet);
   }
}

.form__input:focus {
   background-color: #292E39;
   border: 1px solid var(--pale-violet);
}

.form__input:active {
   border: 1px solid var(--white);
   color: var(--white);
}

.error {
   border: 1px solid #D52B1E;
}

.error::after {
   content: "Ошибка";
   display: block;
   position: absolute;
   width: 47px;
   height: 12px;
   left: 20px;
   top: 10px;
}

.form__submit:focus {
   background: var(--pale-violet);
   border: 2px solid var(--black-violet);
}

.form__submit:active {
   background: var(--black-violet);
   border: 2px solid var(--black-violet);
}

@media (max-width: 1600px) {
   .about__pic:before {
      display: none;
   }

   .about__pic::after {
      left: 0;
   }

   .person__list {
      grid-column-gap: 30px;
      grid-row-gap: 32px;
      margin-bottom: 30px;
   }

   .person__item {
      max-width: unset;
   }

   .person__pic {
      margin-bottom: 23px;
   }

   .about__wrapper-top__left {
      width: 77%;
   }

   .about__pic {
      width: 34%;
   }

   .form__input {
      width: 397px;
   }

   .input-big {
      width: 100%;
   }

   .input-small:not(:last-child) {
      margin-right: 26px;
   }

}

@media (max-width: 970px) {
   .about {
      padding-bottom: 96px;
   }

   .about__wrapper-top {
      flex-direction: column;
   }

   .about__wrapper-top__left {
      width: 100%;
   }

   .about__text {
      margin-right: unset;
      margin-bottom: 27px;
      max-width: 540px;
   }

   .about__pic:before {
      display: block;
      position: absolute;
      background-image: url(../img/Spiral-2.svg);
      width: 639px;
      height: 114px;
      left: -115px;
   }

   .about__title {
      margin-bottom: 12px;
   }

   .about__pic::after {
      position: absolute;
      width: 112px;
      height: 112px;
      background-size: cover;
      left: 428px;
   }

   .about__pic {
      position: relative;
      width: 100%;
      max-width: 100%;
      min-height: 114px;
   }

   .person__pic {
      margin-bottom: 25px;
   }

   .person__list {
      grid-row-gap: 30px;
   }

   .person__item {
      max-width: 255px;
   }

   .input-small:not(:last-child) {
      margin-right: unset;
      margin-bottom: 30px;
   }

   .input-small {
      margin-bottom: 30px;
      max-width: unset;
      width: 100%;
   }
}

@media (max-width: 600px) {
   .about {
      padding-bottom: 52px;
      padding-top: 54px;
   }

   .about__title {
      font-size: 24px;
   }

   .about__text {
      line-height: 157%;
      margin-bottom: 29px;
   }

   .about__text span {
      margin-bottom: 5px;
   }

   .about__text,
   .about__text span {
      font-size: 14px;
   }

   .about__wrapper-top {
      margin-bottom: 0;
   }

   .about__pic {
      display: none;
   }

   .person__item {
      max-width: 113px;
   }

   .person__item:nth-child(2) .person__description {
      padding-right: unset;
   }

   .person__pic {
      margin-bottom: 7px;
   }

   .person__name {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 18px;
      padding-right: 4px;
   }

   .person__description {
      font-size: 12px;
      line-height: 16px;
   }

   .input-small {
      max-width: 100%;
   }

   .form__input {
      font-size: 16px;
   }

   .form__submit {
      margin-bottom: 22px;
   }

   .form__label {
      font-size: 9px;
   }
}