:root {
   --white: #fff;
   --violet: #6D31EE;
   --pale-violet: #AA9DFA;
   --black-violet: #4F28A5;
   --gray: #A1A6B4;
   --pale-gray: #E6E8EC;
   --black: #121723;
   --gold: #F0D288;
   --dark-gold: #BB973E;
}

@font-face {
   font-weight: 400;
   font-style: normal;
   font-family: "Muller";
   font-display: swap;
   src: local("Muller"),
      url(../fonts/MullerRegular.woff2),
      url(../fonts/MullerRegular.woff);
}

@font-face {
   font-weight: 500;
   font-style: normal;
   font-family: "Muller";
   font-display: swap;
   src: local("Muller"),
      url(../fonts/MullerMedium.woff2),
      url(../font/MullerMedium.woff);
}

@font-face {
   font-weight: 700;
   font-style: normal;
   font-family: "Muller";
   font-display: swap;
   src: local("Muller"),
      url(../fonts/MullerBold.woff2),
      url(../fonts/MullerBold.woff);
}

body {
   font-family: "Muller", sans-serif;
}

* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   cursor: pointer;
}

a,
button:focus {
   outline: none;
}

ul,
ol {
   list-style-type: none;
   padding-left: 0;
   margin: 0;
}

h1,
h2,
h3,
h4 {
   margin: 0;
}

h2 {
   font-size: 48px;
   font-style: normal;
   font-weight: 400;
   line-height: 100%;
}

p {
   margin: 0;
}

img {
   max-width: 100%;
}

button {
   cursor: pointer;
   border: none;
   background: none;
   margin: 0;
   padding: 0;
   transition:
      background-color .5s ease-in-out,
      color .5s ease-in-out,
      border .5s ease-in-out;
}

.btn-big {
   padding: 24px 52px;
   border-radius: 40px;
   font-family: Muller;
   font-size: 20px;
   font-weight: 500;
   line-height: normal;
}

.btn-small {
   padding: 10px 54px;
   border-radius: 77px;
   border: 2px solid var(--black);
   color: var(--black);
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.link {
   color: var(--black);
   font-family: Muller;
   font-size: 20px;
   font-weight: 400;
   line-height: normal;
   transition:
      color .5s ease-in-out,
      background-color .5s ease-in-out;
}

.link-arrow path {
   transition: fill .5s ease-in-out;
}

.link:hover {
   color: var(--violet);
}

.link:focus {
   background-color: var(--pale-violet);
   color: var(--white);
}

.link:active {
   color: var(--black-violet);
}

@media (hover:hover) {
   .link:hover .link-arrow path {
      fill: var(--violet);
   }
}

.link:focus .link-arrow path {
   fill: var(--white);
}

.link:active .link-arrow path {
   fill: var(--black-violet);
}

.container {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 100px;
}

.list {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   align-items: stretch;
   grid-column-gap: 30px;
   grid-row-gap: 28px;
}


@media (max-width: 1600px) {
   .container {
      padding: 0 100px;
      /* padding-bottom: 92px;
      padding-top: 94px; */
   }

   .list {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
   }
}


@media (max-width: 970px) {
   .container {
      padding: 0 114px;
      /* padding-bottom: 94px;
      padding-top: 94px; */
   }

   .link {
      font-size: 16px;
   }

   .btn-big {
      padding: 23px 52px;
   }

}

@media (max-width: 700px) {
   .container {
      padding: 0 32px;
      /* padding-bottom: 52px;
      padding-top: 54px; */
   }

   .btn-big {
      font-size: 16px;
   }

   .form__input.input-big {
      border-radius: 20px;
      padding: 16px 10px 10px 23px;
   }

   .form__input.input-small {
      padding: 0px 10px 0 23px;
      min-height: 50px;
   }

   .btn-big {
      padding: 15px 43px;
   }

   .btn-small {
      padding: 8px 29px;
   }

}